@font-face {
    font-family: relaway-regular;
    src: url(../fonts/raleway-font/Raleway-Regular.ttf);
}
@font-face {
    font-family: relaway-medium;
    src: url(../fonts/raleway-font/Raleway-Medium.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato-font/Lato-Bold.ttf);
}
@font-face {
    font-family: montsarrat-medium;
    src: url(../fonts/montserrat-font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-font/Roboto-Regular.ttf);
}
body{
    scroll-behavior: smooth;
    /* scrollIntoview({behavior: 'smooth'}); */
}

:root
{
    --header-nav-color: #303134;
    --main-black: #1a1a1b;
    --common-grey:  #8d8d8d;
    --main-white: #FFFFFF;
}
html
{
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    max-width: 1380px;
    margin: auto;
}
header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 33px;
}
header .header-nav ul {
    width: 520px;
    display: flex;
    justify-content: space-between;
    font-family: relaway-regular;
    text-transform: uppercase;
}
header .header-nav ul li a {
    position: relative;
}
header .header-nav ul li a::after {
    transition: all 0.7s ease;
    position: absolute;
    content: " ";
    top: 2rem;
    right: 50%;
    transform: translateX(50%);
    border-bottom: 2px solid black;
    border-color: green;
    width: 0;
}
header .header-nav ul li a:hover::after {
    width: 100%;
}
header .burger-menu-icon {
    display: none;
}
.slider-inner {
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider-inner .slider {
    display: flex;
    position: relative;
    height: 700px;
    overflow: hidden;
}
.slider .slide {
    position: absolute;
    width: 100%;
    height: 700px;
    transition: all 0.7s;
}
.slider-inner .slider-elements {
    position: absolute;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, black, transparent);
}
.slider-inner .slider-elements-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-inner .slider-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'relaway-regular';
    color: var(--main-white);
    /* gap: 5rem; */
}
.slider-text h1 {
    font-size: 4rem;
    text-transform: capitalize;
    line-height: 15rem;
}
.slider-inner .slider-text h3 {
    margin: 35px 0 37px;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.hot-services-container {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}
.hot-services-container .hot-services-left {
    font-family: 'relaway-regular';
}
.hot-services-container .hot-services-left h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--common-grey);
}
.hot-services-container .hot-services-left h1 {
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 10;
    margin: 22px 0 32px 0;
}
.hot-services-container .hot-services-left h1::after {
    content: url(../images/second-section-images/second-section-left/curly-shape.png);
    position: absolute;
    left: 0;
    top: 1rem;
}
.hot-services-container .hot-services-left p {
    max-width: 250px;
    line-height: 22px;
    color: var(--common-grey);
}
.hot-services-container .hot-services-right {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,265px));
    grid-gap: 50px 30px;
}
.hot-services-card {
    font-family: 'relaway-regular';
    padding: 5px;
    border-radius: 5px;
    transition: all 0.7s ease;
    cursor: pointer;
}
.hot-services-card img {
    width: 100%;
}
.hot-services-card h3 {
    margin: 10px 0 15px 0;
}
.hot-services-card p {
    color: #626262;
    line-height: 20px;
}
.hot-services-card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    transform: scale(1.01);
}
.hot-services-card:hover img {
    border-radius: 5px;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/third-section-images/third-section-background/third-section-background.png);
    background-size: cover;
    font-family: 'relaway-regular';
    color: var(--main-white);
    padding-top: 40px;
}
.video-container img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.video-container .video-data {
    position: relative;
    overflow: hidden;
}

.video-data .video-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition:all 0.7s ease;
}
.video-data .duration-line {
    cursor: pointer;
}
.video-data .skyblue-line {
    background: #2367EC;
    border-radius: 0 2px 2px 0;
    height: 8px;
    width: 0.05%;
    cursor:pointer;
}
.video-container .video-data:hover .video-controls {
    transform: translateY(0);
}
.video-data .video-buttons {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.video-data .video-buttons button{
    background: url(../images/third-section-images/video-controls/play-button-icon.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: 0;

}
.video-container video{
    width: 100%;
    max-width: 600px;
}
.video-container h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
}
.video-container h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 35px 0 50px;
    position: relative;
}
.video-container h1::after {
    content: url(../images/third-section-images/third-section-small-img/curly-white-line.png);
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 1.5rem;
}
.satisfication-cards-container {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
.satisfication-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'relaway-regular';
}
.satisfication-card h1 {
    font-size: 2rem;
    font-family: lato-bold,sans-serif;
    margin: 25px 0 10px;
}
.satisfication-card h3 {
    font-size: 1rem;
    text-transform: uppercase;
}
.our-satisfication-info {
    border-bottom: 1px solid #ebebeb;
}
.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
.middle-container-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.middle-container h3 {
    font-family: 'relaway-regular',sans-serif;
    text-transform: uppercase;
    color: var(--common-grey);
}
.middle-container  > h1 {
    position: relative;
    font-family: 'relaway-regular';
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}
.middle-container > h1::after {
    content: url(../images/third-section-images/third-section-small-img/curly-white-line.png);
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(50%);
}
.middle-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.middle-cards-container .middle-container-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    font-family: 'relaway-regular';
    cursor: pointer;
    transition: all 0.7s ease;
}
.middle-cards-container .middle-container-card span {
    background: gold;
    top: 8px;
    left: 8px;
    position: absolute;
    padding: 13px;
    text-transform: capitalize;
    color: #1a1a1b;
}
.middle-cards-container .middle-container-card img {
    margin-bottom: 1rem;
}
.middle-cards-container .middle-container-card h4 {
    color: blue;
    margin: 0.6rem 0;
}
.hot-services-modal {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    padding: 4rem 11rem;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    font-family: 'relaway-regular';
    color: var(--main-white);
}
.discount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-white);
    background: linear-gradient(45deg, black, transparent), url(../images/fifth-section-images/fifth-section-background/fifth-section-background.png);
    background-size: cover;
    padding: 5rem 0;
    font-family: 'relaway-regular';
}
.discount-container h1 {
    text-transform: capitalize;
    font-size: 2rem;
}
.discount-container p {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 25px 0 50px;
}
.discount-container .form-container {
    display: flex;
    gap: 15px;
}
.discount-container .form-container input {
    background: transparent;
    width: 400px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid var(--main-white);
    color: var(--main-white);
    outline: 0;
    font-size: 20px;
}
.discount-container .form-container button {
    padding: 17px 15px;
    border-radius: 24px;
    text-transform: uppercase;
    border: 0;
    color: blue;
    font-size: 18px;
}
.middle-cards-container .middle-container-card p {
    max-width: 300px;
    line-height: 1.5rem;
}
.cardSpecial {
    padding: 3rem 2rem;
    background: #f4f4f4;
}
.cardSpecial h4{
    margin: 1.5rem 0 2.5rem !important;
}
.cardSpecial .comma{
    margin: 2rem;
}
.planningTrip-container {
    background: url(../images/seventh-section-images/seventh-section-background/seventh-section-background.png);
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 18rem;
}
.planningTrip-container h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--main-white);
}
.planningTrip-container button {
    background: linear-gradient(-1deg, #08aeea 0.00%, #2af598 100.00%);
    border: 0;
    font-size: 22px;
    color: white;
    padding: 25px 35px;
    border-radius: 31px;
    font-family: 'relaway-regular';
}
.middle-container-country{
    position: relative;
}
.middle-container-country .info-container{
    position: absolute;
    bottom:0;
}
.middle-cards-container .country1{
    background: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-1.png);
}
.middle-cards-container .country2{
    background: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-2.png);
}
.middle-cards-container .country3{
    background: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-3.png);
}
.middle-cards-container .country4{
    background: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-4.png);
}
.middle-container-country {
    position: relative;
    width: 280px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.7s ease;
    background-position: center;
}
.middle-container-country:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.middle-container-country .info-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.middle-container-country .info-container div {
    color: var(--main-white);
    font-family: 'relaway-regular';
}
.middle-container-country .info-container div h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.middle-container-country .info-container button {
    background: linear-gradient(-5deg, #08aeea 0.00%, #2af598 100.00%);
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 50%;
    border: 0;
}
iframe {
    width: 100%;
    height: 450px;
}
footer {
    background: #141418;
    /* padding-top: 5rem; */
}
footer .footer-upper {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}
footer .footer-left {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
footer .footer-left ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'relaway-regular';
}
footer .footer-left ul li:first-child {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}
footer .footer-left ul a {
    color: var(--main-white);
}
.footer-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-right form label {
    color: white;
}
.footer-right form .input-container {
    display: flex;
    /* align-items: center; */
}
.footer-right form .input-container input {
    padding: 12px 7px;
    width: 250px;
    border: 0;
    outline: 0;
}
.footer-right form .input-container button {
    padding: 7px 20px;
    background: linear-gradient(-5deg, #08aeea 0.00%, #2af598 100.00%);
    border: 0;
}
footer .footer-down {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid;
}
.hot-services-modal img {
    /* max-width: 296px; */
    width: 354px;
    border-radius: 10px;
}
.hot-services-modal h1 {
    font-size: 2.5rem;
    color: var(--main-white);
    margin: 1.5rem 0;
    white-space: nowrap;
}
.hot-services-modal p {
    max-width: 224px;
    text-align: center;
    line-height: 24px;
}
.hot-services-modal span {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid white;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}
.hot-services-modal span:hover{
    transform: scale(1.05);
    transition:transform 0.7s ease;
}