@font-face {
    font-family: relaway-regular;
    src: url(../fonts/raleway-font/Raleway-Regular.ttf);
}
@font-face {
    font-family: relaway-medium;
    src: url(../fonts/raleway-font/Raleway-Medium.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato-font/Lato-Bold.ttf);
}
@font-face {
    font-family: montsarrat-medium;
    src: url(../fonts/montserrat-font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-font/Roboto-Regular.ttf);
}
body{
    scroll-behavior: smooth;
    /* scrollIntoview({behavior: 'smooth'}); */
}

:root
{
    --header-nav-color: #303134;
    --main-black: #1a1a1b;
    --common-grey:  #8d8d8d;
    --main-white: #FFFFFF;
}
html
{
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    max-width: 1380px;
    margin: auto;
}

header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 33px;
}
header .header-nav-ul {
    width: 520px;
    display: flex;
    justify-content: space-between;
    font-family: relaway-regular;
    text-transform: uppercase;
}
header .header-nav ul li a {
    position: relative;
}
header .header-nav ul li a::after {
    transition: all 0.7s ease;
    position: absolute;
    content: " ";
    top: 2rem;
    right: 50%;
    transform: translateX(50%);
    border-bottom: 2px solid black;
    border-color: green;
    width: 0;
}
header .header-nav ul li a:hover::after {
    width: 100%;
}
header .burger-menu-icon {
    display: none;
}
.slider-inner {
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider-inner .slider {
    display: flex;
    position: relative;
    height: 700px;
    overflow: hidden;
}
.slider .slide {
    position: absolute;
    width: 100%;
    height: 700px;
    transition: all 0.7s;
}
.slider-inner .slider-elements {
    position: absolute;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, black, transparent);
}
.slider-inner .slider-elements-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-inner .slider-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    font-family: 'relaway-regular';
    color: var(--main-white);
    /* gap: 5rem; */
}
.slider-text h1 {
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
}
.slider-inner .slider-text h3 {
    margin: 35px 0 37px;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.hot-services-container {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}
.hot-services-container .hot-services-left {
    font-family: 'relaway-regular';
}
.hot-services-container .hot-services-left h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--common-grey);
}
.hot-services-container .hot-services-left h1 {
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 10;
    margin: 22px 0 32px 0;
}
.hot-services-container .hot-services-left h1::after {
    content: url(../images/second-section-images/second-section-left/curly-shape.png);
    position: absolute;
    left: 0;
    top: 1rem;
}
.hot-services-container .hot-services-left p {
    max-width: 250px;
    line-height: 22px;
    color: var(--common-grey);
}
.hot-services-container .hot-services-right {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,265px));
    grid-gap: 50px 30px;
}
.hot-services-card {
    font-family: 'relaway-regular';
    padding: 5px;
    border-radius: 5px;
    transition: all 0.7s ease;
    cursor: pointer;
}
.hot-services-card img {
    width: 100%;
}
.hot-services-card h3 {
    margin: 10px 0 15px 0;
}
.hot-services-card p {
    color: #626262;
    line-height: 20px;
}
.hot-services-card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    transform: scale(1.01);
}
.hot-services-card:hover img {
    border-radius: 5px;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/third-section-images/third-section-background/third-section-background.png);
    background-size: cover;
    font-family: 'relaway-regular';
    color: var(--main-white);
    padding-top: 40px;
}
.video-container img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.video-container .video-data {
    position: relative;
    overflow: hidden;
}

.video-data .video-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition:all 0.7s ease;
}
.video-data .duration-line {
    cursor: pointer;
}
.video-data .skyblue-line {
    background: #2367EC;
    border-radius: 0 2px 2px 0;
    height: 8px;
    width: 0.05%;
    cursor:pointer;
}
.video-container .video-data:hover .video-controls {
    transform: translateY(0);
}
.video-data .video-buttons {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.video-data .video-buttons button{
    background: url(../images/third-section-images/video-controls/play-button-icon.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: 0;

}
.video-container video{
    width: 100%;
    max-width: 600px;
}
.video-container h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
}
.video-container h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 35px 0 50px;
    position: relative;
}
.video-container h1::after {
    content: url(../images/third-section-images/third-section-small-img/curly-white-line.png);
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 1.5rem;
}
.satisfication-cards-container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}
.satisfication-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'relaway-regular';
}
.satisfication-card h1 {
    font-size: 2rem;
    font-family: lato-bold,sans-serif;
    margin: 25px 0 10px;
}
.satisfication-card h3 {
    font-size: 1rem;
    text-transform: uppercase;
}
.our-satisfication-info {
    border-bottom: 1px solid #ebebeb;
}
.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
.middle-container-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.middle-container h3 {
    font-family: 'relaway-regular',sans-serif;
    text-transform: uppercase;
    color: var(--common-grey);
}
.middle-container  > h1 {
    position: relative;
    font-family: 'relaway-regular';
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}
.middle-container > h1::after {
    content: url(../images/third-section-images/third-section-small-img/curly-white-line.png);
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(50%);
}
.middle-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.middle-cards-container .middle-container-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    font-family: 'relaway-regular';
    cursor: pointer;
    transition: all 0.7s ease;
}
.middle-cards-container .middle-container-card span {
    background: gold;
    top: 8px;
    left: 8px;
    position: absolute;
    padding: 13px;
    text-transform: capitalize;
    color: #1a1a1b;
}
.middle-cards-container .middle-container-card img {
    margin-bottom: 1rem;
}
.middle-cards-container .middle-container-card h4 {
    color: blue;
    margin: 0.6rem 0;
}
.hot-services-modal {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    padding: 4rem 11rem;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    font-family: 'relaway-regular';
    color: var(--main-white);
}
.discount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-white);
    background: linear-gradient(45deg, black, transparent), url(../images/fifth-section-images/fifth-section-background/fifth-section-background.png);
    background-size: cover;
    padding: 5rem 0;
    font-family: 'relaway-regular';
}
.discount-container h1 {
    text-transform: capitalize;
    font-size: 2rem;
}
.discount-container p {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 25px 0 50px;
}
.discount-container .form-container {
    display: flex;
    gap: 15px;
}
.discount-container .form-container input {
    background: transparent;
    width: 400px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid var(--main-white);
    color: var(--main-white);
    outline: 0;
    font-size: 20px;
}
.discount-container .form-container button {
    padding: 17px 15px;
    border-radius: 24px;
    text-transform: uppercase;
    border: 0;
    color: blue;
    font-size: 18px;
}
.middle-cards-container .middle-container-card p {
    max-width: 300px;
    line-height: 1.5rem;
}
.cardSpecial {
    padding: 3rem 2rem;
    background: #f4f4f4;
}
.cardSpecial h4{
    margin: 1.5rem 0 2.5rem !important;
}
.cardSpecial .comma{
    margin: 2rem;
}
.planningTrip-container {
    background: url(../images/seventh-section-images/seventh-section-background/seventh-section-background.png);
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 18rem;
}
.planningTrip-container h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--main-white);
}
.planningTrip-container button {
    background: linear-gradient(-1deg, #08aeea 0.00%, #2af598 100.00%);
    border: 0;
    font-size: 22px;
    color: white;
    padding: 25px 35px;
    border-radius: 31px;
    font-family: 'relaway-regular';
}
.middle-container-country{
    position: relative;
}
.middle-container-country .info-container{
    position: absolute;
    bottom:0;
}
.middle-cards-container .country1{
    background-image: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-1.png);
}
.middle-cards-container .country2{
    background-image: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-2.png);
}
.middle-cards-container .country3{
    background-image: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-3.png);
}
.middle-cards-container .country4{
    background-image: url(../images/eighth-section-images/eight-section-card-container/eight-section-card-4.png);
}
.middle-container-country {
    position: relative;
    width: 280px;
    height: 450px;
    cursor: pointer;
    transition: all 0.7s ease;
    background-position: center ;
}
.middle-container-country:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.middle-container-country .info-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.middle-container-country .info-container div {
    color: var(--main-white);
    font-family: 'relaway-regular';
}
.middle-container-country .info-container div h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.middle-container-country .info-container button {
    background: linear-gradient(-5deg, #08aeea 0.00%, #2af598 100.00%);
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 50%;
    border: 0;
}
iframe {
    width: 100%;
    height: 450px;
}
footer {
    background: #141418;
}
footer .footer-upper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 7rem;
}
footer .footer-left {
    display: flex;
    gap: 5rem;
}
footer .footer-left ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'relaway-regular';
}
footer .footer-left ul li:first-child {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--main-white);
}
footer .footer-left ul a {
    color: var(--main-white);
}
.footer-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-right form label {
    color: white;
}
.footer-right form .input-container {
    display: flex;
    /* align-items: center; */
}
.footer-right form .input-container input {
    padding: 12px 7px;
    width: 250px;
    border: 0;
    outline: 0;
}
.footer-right form .input-container button {
    padding: 7px 20px;
    background: linear-gradient(-5deg, #08aeea 0.00%, #2af598 100.00%);
    border: 0;
}
footer .footer-down {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid;
}
.hot-services-modal img {
    /* max-width: 296px; */
    width: 354px;
    border-radius: 10px;
}
.hot-services-modal h1 {
    font-size: 2.5rem;
    color: var(--main-white);
    margin: 1.5rem 0;
    white-space: nowrap;
}
.hot-services-modal p {
    max-width: 224px;
    text-align: center;
    line-height: 24px;
}
.hot-services-modal span {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid white;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}
.hot-services-modal span:hover{
    transform: scale(1.05);
    transition:transform 0.7s ease;
}
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--header-nav-color);
    display: flex;
    border-radius: 50%;
    padding: 12px;
    border: 0;
    transform: translateY(200px);
    transition:all 0.7s ease;
}
@media (max-width:998px){
    .slider-inner .slider,.slider .slide,.slider-inner .slider-elements{
        height:550px;
    }
    .hot-services-container{
        flex-direction:column;
        gap:5rem;
        align-items:center;
    }
    .hot-services-container .hot-services-left{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .hot-services-container .hot-services-left p{
        max-width:400px;
        text-align:center
    }
    .video-container video{ 
        max-width: 550px;
    }
    .middle-cards-container {
        display:grid;
        grid-template-columns: repeat(2,minmax(0,260px));
        gap:50px;
    }
    .middle-cards-container .middle-container-card p{
        max-width:260px;
    }
    .planningTrip-container {
        height: 450px;
        padding-top: 15rem;
    }
    footer .footer-upper{
        padding:3rem 4rem;
        flex-direction:column;
        gap:3rem;
        align-items:center;
    } 
}
@media(max-width:768px){
    header{
        position: relative;
    }
    header .header-nav-ul{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        z-index: 200;
        height: 0;
        overflow: hidden;
        background-color: black;
    }
    .header-nav-ul.header-nav-height{
        height: auto;
    }
    header .header-nav ul li{
        padding: 1rem 0;
        width: 100%;
    }
    header .header-nav ul li:hover{
        
        background-color: #2af598;
    }
    header .burger-menu-icon {
        display: block;
    }
    .burger-menu-icon div {
        border: 2px solid black;
        width: 27px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .slider-text h1 {
        font-size: 2rem;
    }
   .slider-text h3{
        font-size: 1.2rem;
   }
    .slider-inner .slider{
        height:400px;
    }
    .slider .slide{
        height:400px;
    }
    .slider-inner .slider-text h3{
        font-size:1rem;
    }
    .slider-inner .slider-elements{
        height:400px;
    }
    .hot-services-container{
        flex-direction:column;
        gap:5rem;
        align-items:center;
    }
    .hot-services-container .hot-services-left{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .hot-services-container .hot-services-left p{
        max-width:400px;
        text-align:center
    }
    .video-container video {
        width: 100%;
        max-width: 450px;
      }
    .satisfication-cards-container {
        gap:50px;
    }
    .hot-services-container .hot-services-right {
        grid-template-columns: repeat(2,minmax(0,265px));
    }
    .satisfication-cards-container{
        flex-direction: column;
    }
    .satisfication-cards-container h1{
        font-size:1.5rem;
    }
    .satisfication-cards-container h3{
        font-size:0.9rem;
        text-align:center;
    }
    .cardSpecial h4{
        margin:10px 0 15px !important;
    }
    .cardSpecial2 img{
        width:230px;
    }
    .planningTrip-container{
        height:300px;
        padding-top:7rem;
    }
    .middle-cards-container{
        display: grid;
        grid-template-columns:1fr;
    }
    
    iframe{
        height:300px;
    }
    footer .footer-upper{
        padding:3rem 4rem;
        flex-direction:column;
        gap:30px;
        align-items:flex-start;
    }
    footer .footer-left{
        width:100%;
        justify-content:space-between;
    }
    footer .footer-left ul {
        gap:18px;
    }
    footer .footer-left{
        gap:2rem
    }
    footer .footer-down{
        font-size:18px;
    }
    .discount-container h1{
        font-size:1.7rem;
    }
    .discount-container p{
        font-size:1rem;
    }
    .discount-container .form-container input{
        width:330px;
        font-size:16px;
    }
    .discount-container .form-container button{
        width:100px;
        font-size:12px;
    }
    .discount-container{
        padding:5rem 0;
        background-position: center;
    }
}
    @media (max-width:500px){
        .slider-inner .slider,.slider .slide,.slider-inner .slider-elements{
            height:250px;
        }
        .prev-slide, .next-slide {
            width: 40px;
        }
        
        .slider-inner
        .slider-text h1{
            font-size:1.2rem;
            margin-top:30px;
        }
        .slider-elements
        .slider-text img {
            width: 120px;
        }
        .slider-text img {
            width: 200px;
        }
        .slider-inner .slider-text h3 {
            font-size: 10px;
        }
        .slider-inner .slider-text {
            gap:1rem;
        }
        .hot-services-container .hot-services-left p{
            max-width: 270px;
        }
        .hot-services-container .hot-services-right {
            grid-template-columns: repeat(1,minmax(0,265px));
        }
        .video-container{
            padding-top:20px;
        }
        .video-container h3{
            font-size:12px;
        }
        .video-container h1{
             margin:14px 0;
             font-size:14px
         }
        .video-container img{
            width:30px;
        }
        .video-container video{
            width:270px;
        }
        .discount-container {
            padding: 3rem 0;
        }
        .discount-container h1 {
            font-size: 1.2rem;
        }
        .discount-container p {
            font-size: 14px;
        }
        .discount-container .form-container input {
            width: 300px;
            font-size: 16px;
        }
        .discount-container .form-container button {
            width: 80px;
            font-size: 10px;
        }
        .planningTrip-container {
            height: 250px;
            padding-top: 4rem;
        }
        .planningTrip-container h1 {
            font-size: 2rem;
            color: black;
        }
        .planningTrip-container button {
            font-size: 20px;
            color: white;
            padding: 18px 24px;
        }
        .discount-container .form-container{
            flex-direction:cgolumn;
            align-items:center;
        }
        .discount-container .form-container button{
            width:100px;
        }
        .secondary{
            display: none!important;
        }
        footer .footer-left{
            justify-content: center;
        }
        footer .footer-left ul{
            justify-content: center;
        }
        footer .footer-left ul li{
            text-align: center;
        }
        footer .footer-left ul li:first-child{
            font-size: 2rem !important;
            padding-bottom: 5px;
            border-bottom: 2px solid #08aeea;
        }
}
